body {
  font-size: 24px;
}
@-webkit-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-moz-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-o-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meteor { 
  0% { 
    opacity: 0; transform: translate(0px, 0px); 
  }
  40% { 
    opacity: 1; 
  }
  100% { 
    transform: translate(400px, 190px); 
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}
@keyframes float-reverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-12px);
  }
}
@keyframes man-swing { 
  0% { background-position: 0px 0px; }
  0.7% { background-position: -60px 0px; }
  1.4% { background-position: -120px 0px; }
  2.1% { background-position: -180px 0px; }
  2.8% { background-position: -240px 0px; }
  3.5% { background-position: -300px 0px; }
  4.2% { background-position: -360px 0px; }
  4.9% { background-position: -420px 0px; }
  5.59% { background-position: -480px 0px; }
  6.29% { background-position: -540px 0px; }
  6.99% { background-position: -600px 0px; }
  7.69% { background-position: -660px 0px; }
  8.39% { background-position: -720px 0px; }
  9.09% { background-position: -780px 0px; }
  9.79% { background-position: -840px 0px; }
  10.49% { background-position: -900px 0px; }
  11.19% { background-position: -960px 0px; }
  11.89% { background-position: -1020px 0px; }
  12.59% { background-position: -1080px 0px; }
  13.29% { background-position: -1140px 0px; }
  13.99% { background-position: -1200px 0px; }
  14.69% { background-position: -1260px 0px; }
  15.38% { background-position: -1320px 0px; }
  16.08% { background-position: -1380px 0px; }
  16.78% { background-position: -1440px 0px; }
  17.48% { background-position: -1500px 0px; }
  18.18% { background-position: -1560px 0px; }
  18.88% { background-position: -1620px 0px; }
  19.58% { background-position: -1680px 0px; }
  20.28% { background-position: -1740px 0px; }
  20.98% { background-position: -1800px 0px; }
  21.68% { background-position: -1860px 0px; }
  22.38% { background-position: -1920px 0px; }
  23.08% { background-position: 0px -90px; }
  23.78% { background-position: -60px -90px; }
  24.48% { background-position: -120px -90px; }
  25.17% { background-position: -180px -90px; }
  25.87% { background-position: -240px -90px; }
  26.57% { background-position: -300px -90px; }
  27.27% { background-position: -360px -90px; }
  27.97% { background-position: -420px -90px; }
  28.67% { background-position: -480px -90px; }
  29.37% { background-position: -540px -90px; }
  30.07% { background-position: -600px -90px; }
  30.77% { background-position: -660px -90px; }
  31.47% { background-position: -720px -90px; }
  32.17% { background-position: -780px -90px; }
  32.87% { background-position: -840px -90px; }
  33.57% { background-position: -900px -90px; }
  34.27% { background-position: -960px -90px; }
  34.97% { background-position: -1020px -90px; }
  35.66% { background-position: -1080px -90px; }
  36.36% { background-position: -1140px -90px; }
  37.06% { background-position: -1200px -90px; }
  37.76% { background-position: -1260px -90px; }
  38.46% { background-position: -1320px -90px; }
  39.16% { background-position: -1380px -90px; }
  39.86% { background-position: -1440px -90px; }
  40.56% { background-position: -1500px -90px; }
  41.26% { background-position: -1560px -90px; }
  41.96% { background-position: -1620px -90px; }
  42.66% { background-position: -1680px -90px; }
  43.36% { background-position: -1740px -90px; }
  44.06% { background-position: -1800px -90px; }
  44.76% { background-position: -1860px -90px; }
  45.45% { background-position: -1920px -90px; }
  46.15% { background-position: 0px -180px; }
  46.85% { background-position: -60px -180px; }
  47.55% { background-position: -120px -180px; }
  48.25% { background-position: -180px -180px; }
  48.95% { background-position: -240px -180px; }
  49.65% { background-position: -300px -180px; }
  50.35% { background-position: -360px -180px; }
  51.05% { background-position: -420px -180px; }
  51.75% { background-position: -480px -180px; }
  52.45% { background-position: -540px -180px; }
  53.15% { background-position: -600px -180px; }
  53.85% { background-position: -660px -180px; }
  54.55% { background-position: -720px -180px; }
  55.24% { background-position: -780px -180px; }
  55.94% { background-position: -840px -180px; }
  56.64% { background-position: -900px -180px; }
  57.34% { background-position: -960px -180px; }
  58.04% { background-position: -1020px -180px; }
  58.74% { background-position: -1080px -180px; }
  59.44% { background-position: -1140px -180px; }
  60.14% { background-position: -1200px -180px; }
  60.84% { background-position: -1260px -180px; }
  61.54% { background-position: -1320px -180px; }
  62.24% { background-position: -1380px -180px; }
  62.94% { background-position: -1440px -180px; }
  63.64% { background-position: -1500px -180px; }
  64.34% { background-position: -1560px -180px; }
  65.03% { background-position: -1620px -180px; }
  65.73% { background-position: -1680px -180px; }
  66.43% { background-position: -1740px -180px; }
  67.13% { background-position: -1800px -180px; }
  67.83% { background-position: -1860px -180px; }
  68.53% { background-position: -1920px -180px; }
  69.23% { background-position: 0px -270px; }
  69.93% { background-position: -60px -270px; }
  70.63% { background-position: -120px -270px; }
  71.33% { background-position: -180px -270px; }
  72.03% { background-position: -240px -270px; }
  72.73% { background-position: -300px -270px; }
  73.43% { background-position: -360px -270px; }
  74.13% { background-position: -420px -270px; }
  74.83% { background-position: -480px -270px; }
  75.52% { background-position: -540px -270px; }
  76.22% { background-position: -600px -270px; }
  76.92% { background-position: -660px -270px; }
  77.62% { background-position: -720px -270px; }
  78.32% { background-position: -780px -270px; }
  79.02% { background-position: -840px -270px; }
  79.72% { background-position: -900px -270px; }
  80.42% { background-position: -960px -270px; }
  81.12% { background-position: -1020px -270px; }
  81.82% { background-position: -1080px -270px; }
  82.52% { background-position: -1140px -270px; }
  83.22% { background-position: -1200px -270px; }
  83.92% { background-position: -1260px -270px; }
  84.62% { background-position: -1320px -270px; }
  85.31% { background-position: -1380px -270px; }
  86.01% { background-position: -1440px -270px; }
  86.71% { background-position: -1500px -270px; }
  87.41% { background-position: -1560px -270px; }
  88.11% { background-position: -1620px -270px; }
  88.81% { background-position: -1680px -270px; }
  89.51% { background-position: -1740px -270px; }
  90.21% { background-position: -1800px -270px; }
  90.91% { background-position: -1860px -270px; }
  91.61% { background-position: -1920px -270px; }
  92.31% { background-position: 0px -360px; }
  93.01% { background-position: -60px -360px; }
  93.71% { background-position: -120px -360px; }
  94.41% { background-position: -180px -360px; }
  95.1% { background-position: -240px -360px; }
  95.8% { background-position: -300px -360px; }
  96.5% { background-position: -360px -360px; }
  97.2% { background-position: -420px -360px; }
  97.9% { background-position: -480px -360px; }
  98.6% { background-position: -540px -360px; }
  99.3% { background-position: -600px -360px; }
  100% { background-position: -660px -360px; }
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@keyframes chair-light {
  0% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes wave1 {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    transform: translateX(20%);
  }
}
@keyframes wave2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
    transform: translate(-15px, 15px);
  }
}
.page {
  overflow: hidden;
}
.mt-10 {
  margin: 0;
  margin-top: 10px;
}
.mt-35 {
  margin: 0;
  margin-top: 35px;
}
.fs-18 {
  font-size: 18px;
}
.fc-red {
  color: rgb(211, 58, 49);
}
/*page-1/page-home*/
.page-1 .bg-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/cover_bg.jpg?91115a3fd39e5158b3387c3eec828793") no-repeat;
  background-size: cover;
}
.page-1 .bg-white {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/light.png?282c69970cb1ace98b08e594888bcc5e") no-repeat;
  background-size: cover;
}
.page-1 .title-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.page-1 .title-wrapper .title {
  position: absolute;
  top: 56px;
  margin: 0;
  padding: 0;
}
.page-1 .title-wrapper .title-1 {
  right: 80px;
  width: 84px;
  height: 293px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/title_1.png?aac72768a9f146e0c4712f9d4957ee86") no-repeat;
  background-size: 100% 100%;
}
.page-1 .title-wrapper .title-2 {
  right: 30px;
  width: 36px;
  height: 341px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/title_2.png?593a6c108789e24a36b991c158126bcf") no-repeat;
  background-size: 100% 100%;
}
.page-1 .nickname {
  position: absolute;
  bottom: 85px;
  left: 66px;
  width: 30px;
  height: 130px;
  color: rgb(244, 239, 233);
  font-size: 17px;
  line-height: 18px;
  text-align: right;
  transform: rotateZ(-58deg) skewY(35deg);
}
.page-1 .button {
  display: block;
  position: absolute;
  right: 55px;
  bottom: 90px;
  width: 72px;
  height: 72px;
  background-color: rgb(255,255,255);
  color: rgb(51,51,51);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border-radius: 999px;
}
.page-1 .button span {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
  padding-top: 14px;
}
.page-1 .button span::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 88px;
  height: 88px;
  border-radius: 999px;
  background-color: rgba(255,255,255,0.22);
  animation: halo 0.8s ease-in infinite alternate;
}
.page-1 .button span::after {
  content: "";
  display: block;
  position: absolute;
  top: -130px;
  left: 35px;
  width: 2px;
  height: 130px;
  background: linear-gradient(rgba(255,255,255,0.2), rgb(255,255,255));
}
.page-1 .card {
  position: absolute;
  bottom: 155px;
  left: 100px;
  width: 61px;
  height: 122px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/card_front.jpg?cafc1dd6b435974ddac2189259bcf009") no-repeat;
  background-size: cover;
  box-shadow: rgba(0,0,0,0.298) -15px 10px 10px;
  transform: rotateZ(-60deg) skewY(35deg);
}
.page-2 .night {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
/*page-2*/
.page-2 .night-1 {
  padding-bottom: 70.6667%;
}
.page-2 .night-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/night_1.png?fc03c115ce747f33a50fecfb22cdcd15");
  background-size: cover;
}
.page-2 .night-2 {
  padding-bottom: 85.2%;
}
.page-2 .night-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/night_2.png?750258f7b751dddd0a90ccf26bfb7cba");
  background-size: cover;
}
.page-2 .stars .star {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/star.png?95051d9e7155b79926596172040cdee5");
  background-size: cover;
  opacity: 0.2;
  animation: glow 2s ease-in infinite alternate;
}
.page-2 .stars .star-1 {
  top: 8px;
  left: 140px;
}
.page-2 .stars .star-2 {
  top: 40px;
  left: 165px;
  transform: scale(0.5);
  animation-delay: 0.5s;
}
.page-2 .stars .star-3 {
  top: 65px;
  left: 125px;
  transform: scale(0.5);
  animation-delay: 1s;
}
.page-2 .stars .star-4 {
  top: 160px;
  left: 60px;
  transform: scale(0.5);
  animation-delay: 1.5s;
}
.page-2 .meteors .meteor-1 {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 40px;
  height: 19px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/meteor.png?33473f44f2a23569b98a62ef73002828");
  background-size: cover;
  animation: meteor 2s ease-in infinite;
}
.page-2 .meteors .meteor-2 {
  position: absolute;
  left: 30%;
  top: -19px;
  width: 40px;
  height: 19px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/meteor.png?33473f44f2a23569b98a62ef73002828");
  background-size: cover;
  animation: meteor 2s ease-in infinite;
  animation-delay: 1s;
}
.page-2 .moon {
  position: absolute;
  top: 65px;
  right: 0px;
  width: 146px;
  height: 193px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/moon.png?91937bc896f8ac7485ad313a3ee9f2c2");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-2 .moon .swing {
  position: absolute;
  top: 147px;
  left: 60px;
  width: 34px;
  height: 302px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/swing.png?8c87349ae72d2d0421be9724d660ec7d");
  background-repeat: no-repeat;
  background-size: cover;
  animation: chair-light 3s infinite alternate forwards;
  transform-origin: 100% 0 0;
}
.page-2 .moon .swing .man {
  position: absolute;
  top: 268px;
  left: 0px;
  width: 60px;
  height: 90px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/man_repeat.png?7da242ce21d512ec84ac76d3a6440b22");
  background-repeat: no-repeat;
  transform: scale(0.5);
  transform-origin: 0 0 0;
  animation: man-swing 6s steps(1, end) infinite;
}
.page-2 .building {
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.page-2 .building-1 {
  width: 100%;
  height: 0;
  padding-bottom: 40.6667%;
}
.page-2 .building-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/building_6.png?1e3a289d0cb78386e18ccfed50f3a3a4");
  background-size: cover;
}
.page-2 .content {
  position: absolute;
  top: 26%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.page-2 .para {
  color: rgb(34, 34, 34);
  font-size: 15px;
  line-height: 28px;
  word-break: break-all;
}
/*page-3*/
.page-3 .title {
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(34,34,34);
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.page-3 .rock {
  position: absolute;
}
.page-3 .rock-1 {
  left: 0;
  bottom: 75px;
  width: 55px;
  height: 70px;
}
.page-3 .rock-2 {
  left: 0px;
  bottom: 120px;
  width: 59px;
  height: 79px;
}
.page-3 .rock-3 {
  right: 94px;
  bottom: 30px;
  width: 35px;
  height: 35px;
}
.page-3 .rock-4 {
  right: 0;
  bottom: -15px;
  width: 91px;
  height: 117px;
}
.page-3 .rock-inner {
  width: 100%;
  height: 100%;
}
.page-3 .rock-inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: float linear 1s infinite alternate;
}
.page-3 .rock-1 .rock-inner::before {
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/rock_1.png?8a740bdefa0b653329393d2e779a6270");
  background-repeat: no-repeat;
}
.page-3 .rock-2 .rock-inner::before {
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/rock_2.png?7442ae10d160d2ca373c34b3dc5bfe39");
  background-repeat: no-repeat;
  animation-name: float-reverse;
  animation-delay: 0.8s;
}
.page-3 .rock-3 .rock-inner::before {
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/rock_3.png?17d3b26af9011b9e71077df38676934f");
  background-repeat: no-repeat;
}
.page-3 .rock-4 .rock-inner::before {
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/rock_4.png?7ad9babb64231b82f6363ed7592914ea");
  background-repeat: no-repeat;
  animation-name: float-reverse;
  animation-delay: 0.8s;
}
.page-3 .mountain-wrapper {
  position: absolute;
  top: 170px;
  left: 50%;
  width: 366px;
  height: 380px;
  margin-left: -183px;
}
.page-3 .mountain {
  width: 100%;
  height: 100%;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/mountain.png?a036d93130ccf74d03002c376270585f") no-repeat;
  background-size: cover;
}
.page-3 .mountain .word {
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 110px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/word/20.png?c67ca565886ad94ffb3c95ab937a4735") no-repeat;
  background-size: cover;
}
.page-3 .mountain .word .count {
  position: absolute;
  bottom: -10px;
  right: -12px;
  width: 78px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/border.png?09d2d1cfc1d547bdba30335dd9faa0df");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-3 .mountain .word .count .number {
  display: block;
  line-height: 24px;
  font-size: 16px;
  color: rgb(211,58,49);
}

.page-3 .mountain .word .count .man {
  display: block;
  position: absolute;
  top: -28px;
  right: -5px;
  width: 19px;
  height: 41px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p01/man.png?1b77412be14ab4c889588bef2f769c74");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-3 .mountain .content {
  font-size: 14px;
  color: rgb(34, 34, 34);
}
.page-3 .mountain .content .lyric-red {
  color: rgb(211, 58, 49);
}
.page-3 .mountain .content .artist {
  font-size: 12px;
  color: rgba(34, 34, 34, 0.701961);
}
.page-3 .mountain .content {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page-3 .mountain .content .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-3 .mountain .content .list-item {
  margin-top: 10px;
}
/*page-4*/
.page-4 .wave1 {
  position: absolute;
  right: -3%;
  top: 0;
  height: 100%;
}
.page-4 .wave1-1 {
  width: 135px;
  height: 100%;
}
.page-4 .wave1-1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p03/wave_2.png?bde3f4069f7bc4289ff0c6c5741b39cf");
  background-repeat: no-repeat;
  background-size: cover;
  animation: wave1 1.8s 0.8s infinite alternate;
}
.page-4 .wave1-1 .ripple {
  position: absolute;
  top: 18px;
  left: 5px;
  width: 20px;
  height: 165px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p03/ripple.png?e850181d6c7343b0e6cf77a7d5c92620");
  background-size: cover;
}
.page-4 .wave1-2 {
  width: 149px;
  height: 100%;
}
.page-4 .wave1-2::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p03/wave_1.png?47c9ba8df010097db8c0da36a6c7bc67");
  background-repeat: no-repeat;
  background-size: cover;
  animation: wave1 1.8s 1.3s infinite alternate;
}
.page-4 .wave2 {
  position: absolute;
  bottom: -15px;
  left: -15px;
  background-size: cover;
}
.page-4 .wave2-1 {
  width: 375px;
  height: 199px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p03/wave_4.png?c475e9e0b6acdd07ffdd0872a4326340");
  animation: wave2 1.8s 1s infinite alternate;
}
.page-4 .wave2-2 {
  width: 375px;
  height: 241px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p03/wave_3.png?916ee8e455fda807463cbc1972d2b59f");
  animation: wave2 1.8s 1.2s infinite alternate;
}