body {
  font-size: 24px;
}
@-webkit-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-moz-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-o-keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@keyframes halo {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.81);
  }
}
@-webkit-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glow {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meteor { 
  0% { 
    opacity: 0; transform: translate(0px, 0px); 
  }
  40% { 
    opacity: 1; 
  }
  100% { 
    transform: translate(400px, 190px); 
  }
}
/*page-1/page-home*/
.bg-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/cover_bg.jpg?91115a3fd39e5158b3387c3eec828793") no-repeat;
  background-size: cover;
}
.bg-white {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/light.png?282c69970cb1ace98b08e594888bcc5e") no-repeat;
  background-size: cover;
}
.title-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.title-wrapper .title {
  position: absolute;
  top: 56px;
  margin: 0;
  padding: 0;
}
.title-wrapper .title-1 {
  right: 80px;
  width: 84px;
  height: 293px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/title_1.png?aac72768a9f146e0c4712f9d4957ee86") no-repeat;
  background-size: 100% 100%;
}
.title-wrapper .title-2 {
  right: 30px;
  width: 36px;
  height: 341px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/title_2.png?593a6c108789e24a36b991c158126bcf") no-repeat;
  background-size: 100% 100%;
}
.nickname {
  position: absolute;
  bottom: 85px;
  left: 66px;
  width: 30px;
  height: 130px;
  color: rgb(244, 239, 233);
  font-size: 17px;
  line-height: 18px;
  text-align: right;
  transform: rotateZ(-58deg) skewY(35deg);
}
.button {
  display: block;
  position: absolute;
  right: 55px;
  bottom: 90px;
  width: 72px;
  height: 72px;
  background-color: rgb(255,255,255);
  color: rgb(51,51,51);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border-radius: 999px;
}
.button span {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 100%;
  padding-top: 14px;
}
.button span::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 88px;
  height: 88px;
  border-radius: 999px;
  background-color: rgba(255,255,255,0.22);
  animation: halo 0.8s ease-in infinite alternate;
}
.button span::after {
  content: "";
  display: block;
  position: absolute;
  top: -130px;
  left: 35px;
  width: 2px;
  height: 130px;
  background: linear-gradient(rgba(255,255,255,0.2), rgb(255,255,255));
}
.card {
  position: absolute;
  bottom: 155px;
  left: 100px;
  width: 61px;
  height: 122px;
  background: url("http://s3.music.126.net/nact/s/client/images/year2017/cover/card_front.jpg?cafc1dd6b435974ddac2189259bcf009") no-repeat;
  background-size: cover;
  box-shadow: rgba(0,0,0,0.298) -15px 10px 10px;
  transform: rotateZ(-60deg) skewY(35deg);
}
.page-2 .night {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.page-2 .night-1 {
  padding-bottom: 70.6667%;
}
.page-2 .night-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/night_1.png?fc03c115ce747f33a50fecfb22cdcd15");
  background-size: cover;
}
.page-2 .night-2 {
  padding-bottom: 85.2%;
}
.page-2 .night-2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/night_2.png?750258f7b751dddd0a90ccf26bfb7cba");
  background-size: cover;
}
.page-2 .stars .star {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/star.png?95051d9e7155b79926596172040cdee5");
  background-size: cover;
  opacity: 0.2;
  animation: glow 2s ease-in infinite alternate;
}
.page-2 .stars .star-1 {
  top: 8px;
  left: 140px;
}
.page-2 .stars .star-2 {
  top: 40px;
  left: 165px;
  transform: scale(0.5);
  animation-delay: 0.5s;
}
.page-2 .stars .star-3 {
  top: 65px;
  left: 125px;
  transform: scale(0.5);
  animation-delay: 1s;
}
.page-2 .stars .star-4 {
  top: 160px;
  left: 60px;
  transform: scale(0.5);
  animation-delay: 1.5s;
}
.page-2 .meteors .meteor-1 {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 40px;
  height: 19px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/meteor.png?33473f44f2a23569b98a62ef73002828");
  background-size: cover;
  animation: meteor 2s ease-in infinite;
}
.page-2 .meteors .meteor-2 {
  position: absolute;
  left: 30%;
  top: -19px;
  width: 40px;
  height: 19px;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/common/meteor.png?33473f44f2a23569b98a62ef73002828");
  background-size: cover;
  animation: meteor 2s ease-in infinite;
  animation-delay: 1s;
}
.page-2 .building {
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.page-2 .building-1 {
  width: 100%;
  height: 0;
  padding-bottom: 40.6667%;
}
.page-2 .building-1::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("http://s3.music.126.net/nact/s/client/images/year2017/p02_night/building_6.png?1e3a289d0cb78386e18ccfed50f3a3a4");
  background-size: cover;
}
